# Homework 1: NumPy, Pandas, and Data Exploration
## CS 2100/4700: Introduction to Machine Learning

**Due Date:** 01/29/2026
**Total Points:** 100

## Instructions

- Complete all exercises in this notebook
- Include your code AND output for each question
- Comment your code where appropriate
- Do NOT use loops where vectorized operations are possible


## Part 1: NumPy Basics (20 points)

### Question 1.1 (10 points)

Given the following array of weekly hours worked:

```python
hours = np.array([40, 52, 35, 45, 60, 38, 42, 55, 48, 37])
```

a) Calculate and print the mean, min, and max hours

b) Find all values greater than 45 (use boolean indexing)

c) Count how many people worked more than 45 hours

In [2]:
import numpy as np

hours = np.array([40, 52, 35, 45, 60, 38, 42, 55, 48, 37])

# a) Calculate and print the mean, min, and max hours
MeanOfHours = np.mean(hours)
MinOfHours = np.min(hours)
MaxOfHours = np.max(hours)
print("A)\nMean hours:", MeanOfHours, "\nMin hours:", MinOfHours, "\nMax hours:", MaxOfHours, "\n")

# b) Find all values greater than 45 (use boolean indexing)
TargetHours = hours[hours > 45]
print("B)\nHours greater than 45:", TargetHours, "\n")

# c) Count how many people worked more than 45 hours
TargetHoursCount = np.size(TargetHours)
print("C)\nNumber of people who worked more than 45 hours:", TargetHoursCount)

A)
Mean hours: 45.2
Min hours: 35
Max hours: 60

B)
Hours greater than 45: [52 60 55 48]

C)
Number of people who worked more than 45 hours: 4

### Question 1.2 (10 points)

Given this 2D array of student grades (rows = students, columns = [midterm, final, project]):

```python
grades = np.array([
    [85, 90, 88],
    [72, 68, 75],
    [90, 95, 92],
    [65, 70, 68]
])
```

a) Print the shape of the array

b) Extract all final exam scores (second column)

c) Calculate the average grade for each student (row means)

In [8]:
grades = np.array([
    [85, 90, 88],
    [72, 68, 75],
    [90, 95, 92],
    [65, 70, 68]
])

# a) Print the shape of the array
ShapeOfGrades = grades.shape
print("A)\nGrades array shape:", ShapeOfGrades, "\n")

# b) Extract all final exam scores (second column)
FinalExamScores = grades[:, 1]
print("B)\nFinal exam scores:", FinalExamScores, "\n")

# c) Calculate the average grade for each student (row means)
AvgStudGrades = np.mean(grades, axis=1)
print("C)\nAverage grade for each student:", AvgStudGrades)

A)
Grades array shape: (4, 3)

B)
Final exam scores: [90 68 95 70]

C)
Average grade for each student: [87.66666667 71.66666667 92.33333333 67.66666667]

## Part 2: Pandas Basics (30 points)

### Question 2.1 (10 points)

Create a DataFrame called `employees` with the following data:

| Name | Age | Department | Salary |
|------|-----|------------|--------|
| Alice | 28 | Engineering | 75000 |
| Bob | 35 | Marketing | 65000 |
| Carol | 42 | Engineering | 95000 |
| David | 31 | Sales | 55000 |
| Eve | 29 | Engineering | 80000 |

Then print: (a) the shape, (b) column names, and (c) data types

In [ ]:
import pandas as pd

# Create the employees DataFrame
employees = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [28, 35, 42, 31, 29],
    'Department': ['Engineering', 'Marketing', 'Engineering', 'Sales', 'Engineering'],
    'Salary': [75000, 65000, 95000, 55000, 80000]
})

# a) Print the shape
print("A)\nEmployees DataFrame shape:", employees.shape, "\n")

# b) Print column names
print("B)\nEmployees DataFrame columns:", employees.columns.tolist(), "\n")

# c) Print data types
print("C)\nEmployees DataFrame data types:\n", employees.dtypes, "\n")

A)
Employees DataFrame shape: (5, 4)

B)
Employees DataFrame columns: ['Name', 'Age', 'Department', 'Salary']

C)
Employees DataFrame data types:
 Name            str
Age           int64
Department      str
Salary        int64
dtype: object

### Question 2.2 (10 points)

Using the `employees` DataFrame:

a) Select only the 'Name' and 'Salary' columns

b) Filter for employees in the Engineering department

c) Filter for employees with Salary >= 70000 AND Age < 40

In [ ]:
import pandas as pd # importing pandas again since it did not carry over from previous cells
# setting employee dataframe, since it cannot carry over from previous cells
employees = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [28, 35, 42, 31, 29],
    'Department': ['Engineering', 'Marketing', 'Engineering', 'Sales', 'Engineering'],
    'Salary': [75000, 65000, 95000, 55000, 80000]
})

# a) Select only the 'Name' and 'Salary' columns
TargetedColumns = employees[['Name', 'Salary']]
print("A)\nName and Salary columns:\n", TargetedColumns, "\n")

# b) Filter for employees in the Engineering department
Engineers = employees[employees['Department'] == 'Engineering']
print("B)\nEmployees in Engineering department:\n", Engineers, "\n")

# c) Filter for employees with Salary >= 70000 AND Age < 40
TargetedEmployees = employees[(employees['Salary'] >= 70000) & (employees['Age'] < 40)]
print("C)\nEmployees with Salary >= 70000 AND Age < 40:\n", TargetedEmployees)

#NOTE: this is EXTREMELY similar to SQL

A)
Name and Salary columns:
     Name  Salary
0  Alice   75000
1    Bob   65000
2  Carol   95000
3  David   55000
4    Eve   80000

B)
Employees in Engineering department:
     Name  Age   Department  Salary
0  Alice   28  Engineering   75000
2  Carol   42  Engineering   95000
4    Eve   29  Engineering   80000

C)
Employees with Salary >= 70000 AND Age < 40:
     Name  Age   Department  Salary
0  Alice   28  Engineering   75000
4    Eve   29  Engineering   80000

### Question 2.3 (10 points)

Using the `employees` DataFrame:

a) Calculate the mean salary

b) Use `value_counts()` to count employees in each Department

c) Add a new column `Senior` that is `True` if Age >= 35, otherwise `False`

In [ ]:
import pandas as pd # importing pandas again since it did not carry over from previous cells
# setting employee dataframe, since it cannot carry over from previous cells
employees = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [28, 35, 42, 31, 29],
    'Department': ['Engineering', 'Marketing', 'Engineering', 'Sales', 'Engineering'],
    'Salary': [75000, 65000, 95000, 55000, 80000]
})

# a) Calculate the mean salary
MeanSalary = employees['Salary'].mean()
print("A)\nMean Salary:", MeanSalary)

# b) Use value_counts() to count employees in each Department
print("B)\nEmployee count by Department:")
for dept, count in employees['Department'].value_counts().items():
    print("Department:", dept, "   Count:", count)

# c) Add a new column 'Senior' that is True if Age >= 35, otherwise False
employees['Senior'] = employees['Age'] >= 35 # by adding condition directly, the inserted value will be a boolean
print("\nC)\nEmployees DataFrame with 'Senior' column:\n", employees)

A)
Mean Salary: 74000.0
B)
Employee count by Department:
Department: Engineering    Count: 3
Department: Marketing    Count: 1
Department: Sales    Count: 1

C)
Employees DataFrame with 'Senior' column:
     Name  Age   Department  Salary  Senior
0  Alice   28  Engineering   75000   False
1    Bob   35    Marketing   65000    True
2  Carol   42  Engineering   95000    True
3  David   31        Sales   55000   False
4    Eve   29  Engineering   80000   False


## Part 3: Exploring the Adult Dataset (50 points)

Run the cell below to load the UCI Adult Census Income dataset:

In [13]:
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
           'marital_status', 'occupation', 'relationship', 'race',
           'sex', 'capital_gain', 'capital_loss', 'hours_per_week',
           'native_country', 'income']

df = pd.read_csv(url, names=columns, na_values=' ?', skipinitialspace=True)
print(f"Dataset loaded: {len(df)} records")

Dataset loaded: 32561 records

### Question 3.1 (10 points)

a) How many rows and columns are in the dataset?

b) Which columns have missing values and how many?

c) What percentage of people earn >50K?

In [ ]:
# a) How many rows and columns are in the dataset?

# b) Which columns have missing values and how many?


# c) What percentage of people earn >50K?

### Question 3.2 (10 points)

a) What is the average age in the dataset?

b) What is the average hours_per_week?

c) What are the top 3 most common education levels?

In [ ]:
# a) What is the average age in the dataset?


# b) What is the average hours_per_week?


# c) What are the top 3 most common education levels?

### Question 3.3 (10 points)

a) Filter the dataset for people aged 30 or younger. How many are there?

b) Filter for people with income '>50K' AND hours_per_week > 40. How many?

c) What percentage of people work in the 'Private' sector?

In [ ]:
# a) Filter the dataset for people aged 30 or younger. How many are there?


# b) Filter for people with income '>50K' AND hours_per_week > 40. How many?


# c) What percentage of people work in the 'Private' sector?

### Question 3.4 (10 points)

a) Create a cross-tabulation of `sex` vs `income` showing row percentages

b) **Written Answer:** Based on the cross-tabulation, describe the income difference between males and females in 1-2 sentences.

In [ ]:
# a) Create a cross-tabulation of sex vs income showing row percentages

**b) Written Answer:**

*[Your answer here]*

### Question 3.5 (10 points)

a) Create a new column `is_high_earner` that is 1 if income is '>50K', otherwise 0

b) Create a new column `age_group` using `pd.cut()` with bins [0, 30, 50, 100] and labels ['Young', 'Middle', 'Senior']

c) Show the first 5 rows with columns: age, age_group, income, is_high_earner

In [ ]:
# a) Create a new column 'is_high_earner' that is 1 if income is '>50K', otherwise 0


# b) Create a new column 'age_group' using pd.cut()


# c) Show the first 5 rows with columns: age, age_group, income, is_high_earner

## Submission Checklist

Before submitting, ensure:

- [ ] All code cells show output
- [ ] Written answer is complete
- [ ] Notebook runs top to bottom without errors
- [ ] File named: `HW1_LastName_FirstName.ipynb`


## Grading Rubric

| Part | Points |
|------|--------|
| Part 1: NumPy | 20 |
| Part 2: Pandas | 30 |
| Part 3: Adult Dataset | 50 |
| **Total** | **100** |